html,
body {
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.gradient {
    background-image: linear-gradient(to right, #143660 ,#0d6efd);
}

.navbar-nav .active {
    color: white;
}

.navbar-nav .active:hover {
    color: rgb(209, 209, 209);
}

.go-back {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

.back-img {
    margin-right: 5px;
}
