html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(to bottom right, rgb(10, 10, 10), #222222);
    flex: 1;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card.priority {
    border-left: 5px solid red; /* Customize color for priority */
    background-color: #ffc0c0;
}

.card.normal {
    border-left: 5px solid green; /* Customize color for normal priority */
    background-color: rgb(210, 255, 210);
}

table {
    width: 100%;
}

.data {
    font-weight: bold;
}

.merged-content {
    padding-top: 10px;
    font-style: italic;
}

button {
    background-color: #0088a9;
    color: #fff;
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.accept{
    background-color: #0088a9;


}
.reject{
    background-color: #ff0000;

}




button:hover {
    opacity: 0.5;
    background-color: #3d3d3d;
}